<section>
  <div
    class="relative flex flex-col w-full px-5 text-4xl leading-[3] text-center font-bold"
  >
    <div
      class="sticky top-1/2 z-10 w-full h-full min-h-[50vh] bg-gradient-to-b from-black/0 to-70% to-black"
    >
    </div>

    <div class="flex flex-col items-center pb-[400px]">
      <h2 class="uppercase text-6xl tracking-tighter en cond">Concept</h2>
      <p>
        いままで見た事ないものに挑み続ける<br />
        ココロ踊るような企業文化を提唱していく<br />
        音楽を聴いたときに湧いてくるような<br />
        メッセージ性と遊び心<br />
        お客様のビジネスゴールへ導く
      </p>
    </div>
  </div>
</section>
