---
import Btn from "../../shared/Btn.astro";
---

<section class="font-bold text-center missionSection pb-[260px]">
  <div class="max-w-[1500px] m-auto">
    <div class="container relative m-auto py-[10%]">
      <div class="imgBox">
        <img
          src="/src/assets/images/pages/index/mission01.jpg"
          class="absolute w-[35%] left-[88%] bottom-0"
        />
        <img
          src="/src/assets/images/pages/index/mission02.jpg"
          class="absolute w-[35%] right-[88%] top-0"
        />
        <img
          src="/src/assets/images/pages/index/mission03.jpg"
          class="absolute w-[23%] -left-[5%] bottom-0"
        />
        <img
          src="/src/assets/images/pages/index/mission04.jpg"
          class="absolute w-[23%] -right-[5%] top-0"
        />
      </div>
      <div class="mb-11 titleBox">
        <h2 class="mb-12 text-4xl tracking-tighter en cond">MISSION</h2>
        <p class="text-4xl leading-relaxed">
          クリエイティビティで<br />世界に喜びと感動の種を撒く
        </p>
      </div>
      <p class="max-w-[485px] m-auto leading-10 mb-16">
        クリエイターとして最質を高めていく事は使命でありその上で楽しみ喜こび、その気持ちが伝わり、お客様に感動を与える。小さな感動から大きな感動へつなげるために、1つ1つ日々ベストをつくしていきます。人間の可能性は無限大。人と、クリエイティで一人で多くの人の問題を解決し笑顔にできる事を切に願っています。
      </p>
      <Btn />
    </div>
  </div>
</section>
