---
import Btn from "../../shared/Btn.astro";
---

<div class="font-bold newsSection">
  <div class="container m-auto flex gap-14 items-center">
    <div class="left w-fit">
      <div class="titleBox">
        <h2
          class="text-6xl tracking-tighter text-center en cond font-bold -mt-3.5"
        >
          news
        </h2>
      </div>
    </div>
    <div class="middle w-full">
      <div class="box flex gap-16 items-center">
        <h2 class="en opacity-30">2023.01.01</h2>
        <h3 class="text-2xl">GWの休暇についてのお知らせ</h3>
      </div>
    </div>
    <div class="right w-fit">
      <Btn href="https://double-factory.co.jp/" />
    </div>
  </div>
</div>
